## Task 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def total_fruct(**kwargs):
    return sum(kwargs.values())

In [2]:
total_fruct(apples =10,bananas =20,pears=30)

60

##Task 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [8]:
costs = [100, 125, -90, 345, 655, -1, 0, 200] 
sum_positive_cost = sum([i for i in costs if i > 0])
print(f'Суммарные затраты на рекламу, без отрицательных величин = {sum_positive_cost}')

Суммарные затраты на рекламу, без отрицательных величин = 1425

##Task 4
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

###4.1
Найдите, какая выручка у компании в ноябре.
Используйте list comprehensions

In [4]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
         '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
         '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
         '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
         '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
         '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
prices = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 
          651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 
          3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [5]:
import datetime as dt

In [6]:
revenue = sum([prices[i] for i in range(len(dates)) if dt.datetime.strptime(dates[i],'%Y-%m-%d').month == 11])
print(f'Общая выручка компании в ноябре составила {revenue}')

Общая выручка компании в ноябре составила 25098

###4.2
Найдите выручку компании в зависимости от месяца.
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [7]:
def revenue_month(dates: list[str], prices: list[int]):
    revenue = {} 
    for date, price in zip(dates, prices): 
        month = date.split('-')[1]
        revenue[month] = revenue.get(month, 0) + price 
    return revenue
revenue_month(dates, prices)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}